.bg-gray-100{
  background: $gray-100;
}

.bg-black{
  background: $black;
  transition: background 0.5s ease-in-out;
  &.active{
    background: transparent;
  }
}

.bg-img-base{
  background-repeat: no-repeat;
  height:100%;
  background-size:cover;
  position: relative;
}