$overlay-timer : 0.5s ease-in-out;

.overlay-project-color{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition:all $overlay-timer;
  opacity: 0;
}
.overlay-project{
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  transition:all 0.2s;
  top:0;
  img{
    transition:all $overlay-timer;
    position: relative;
    top: 0;
    transform: translateY(0);
  }
  .overlay-wording{
    transform: translateY(0);
    transition: all $overlay-timer;
  }
}

.project-hover{
  &.active{
    .overlay-project {
      position: absolute;
      height: 65%;
      top:19%;
      transition:all $overlay-timer;

      /*img{
        position: absolute;
        top: 30%;
        transform: translateY(-70%);
      }*/
      .overlay-wording{
        transform: translateY(-20px);
      }
      .overlay-project-color{
        opacity: 0.6;
      }
    }
  }
}

.height-full{
  height:100%;
}