.case-study{
  .entry-header{
    .header-inner{
      height: 100vh;
      background: center center no-repeat;
      background-size: cover;
    }
    .scroll-down {
      font-size: 12px;
      position: absolute;
      right: 0;
      bottom: 10%;
      left: 0;
      animation: beating-heart 2.5s infinite;
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
}
.project-quote{
  transform: translateY(50%);
  margin-left: 30%;
}